@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a:visited {
    text-decoration: none; /* Remove o sublinhado do link após ser clicado */
    color: inherit; /* Mantém a cor do texto após ser clicado */
}

body {
    height: 100vh;
}

header {
    height: 10%;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #1b4449;
}

header > a {
    cursor: pointer;
}


#logo-img {
    width: 7vh;
    height: 7vh;
}

#entrar-btn {
    background-color: #167CAD;
    color: white;
    border-radius: 5px;
    padding: 1em 3em;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    text-decoration: none;
    
}

main {
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

section {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.div-card {
    width: 45%;
    height: 20vh;
    background-color: #ffffff;
    border-radius: 7px;
    border-top: 1px solid #57B76C;
    border-left: 0.5px solid #57B76C;
    border-right: 0.5px solid #57B76C;
    border-bottom: 1px solid #57B76C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.nome-especialidade {
    padding-top: 1em;
    font-size: 1.0em;
    font-weight: 600;
    color: #000000a2;
    padding-left: 2em;
}

.descricao-especialidade {
    font-size: 0.8em;
    font-weight: 400;
    color: #000000a1;
    padding-left: 2.5em;

}

.additional-information {
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
}

.additional-information p {
    font-size: 0.8em;
    font-weight: 400;
    color: #57B76C;
    background-color: #ffffff;
}