@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a:visited {
    text-decoration: none; /* Remove o sublinhado do link após ser clicado */
    color: inherit; /* Mantém a cor do texto após ser clicado */
}
body {
    height: 100vh;
    display: flex;
}
section {
    height: 100%;
}
#section-left {
    width: 50%;
    background: linear-gradient(to bottom, #FFFFFF 0%, #E9F1D9 79%, #CEE6CE 89%, #9EEBAC 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main {
    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#logo {
    height: 8em;
    width: 8em;
}

#logo img {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#textos {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8em;
}

#div-form {
    position: absolute;
    top: 45%;
    width: 30%;
}

#form {
    display: flex;
    flex-direction: column;
}

#form > input {
    width: 100%;
    height: 4em;
    background-color: #f1f1f1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #003A56;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
    outline: none; /* Remove o contorno azul padrão */

}

.hidden {
    visibility: hidden;
    transform: translateY(20px); /* Movido para baixo */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

h1 {
    font-size: 2.0em;
    color: #2C485F;
}

p {
    font-size: 1.2em;
    color: #424242;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 65%;
    text-align: center;
}


#login-falhou {
    color: #ff4d4d; /* Cor vermelha clara para chamar atenção */
    font-size: 1rem; /* Tamanho de fonte ajustado */
    font-weight: bold; /* Deixa a mensagem mais destacada */
    margin-top: 10px; /* Espaço acima do elemento */
    text-align: center; /* Centraliza o texto */
    background-color: #ffe6e6; /* Fundo suave para contraste */
    padding: 10px; /* Adiciona espaço interno */
    border-radius: 5px; /* Bordas arredondadas */
    border: 1px solid #ff9999; /* Borda vermelha clara */
    width: fit-content; /* Ajusta à largura do conteúdo */
    margin-left: auto;
    margin-right: auto;
}


#entrar-button, #proximo-button {
    background-color: #003A56;
    color: #ffffff;
    font-size: 1.0em;
    border: none;
    border-radius: 3px;
    padding: 0.7em 2.5em;
    cursor: pointer;
}


#div-botoes {
    padding-top: 2em;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}

#voltar-button {
    background-color: #E9F1D9;
    color: #003A56;
    font-size: 1.0em;
    border: 2px solid #003A56;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.7em 2.5em;
}



#section-right {
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../assets/pexels-gustavo-fring-7446987.jpg");
    
}

#p-cadastre-se {
    width: 100%;
    font-size: 1.0em;
    color: #424242;
    font-family: "Inter", sans-serif;
    text-align: center;
}

#span-cadastre-se {
    color: #003A56;
    cursor: pointer;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 20px;
    z-index: 1000;
}
#popup.active {
    display: block;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
#overlay.active {
    display: block;
}
.hidden {
    display: none;
}
.form-section {
    margin-bottom: 20px;
}
.form-section > button {
    background-color: #003A56;
    color: #ffffff;
    font-size: 1.0em;
    border: none;
    border-radius: 3px;
    padding: 0.7em 2.5em;
    cursor: pointer;
}
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

input {
    width: 80%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

#close-popup {
    cursor: pointer;
    background: none;
    border: none;
    align-self: flex-end;
}

#close-popup svg {
    width: 35px;
    height: 35px;
}

.field-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    height: auto;
    width: 45%;
    background-color: #2C485F;
}