@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


section {
    width: 100%;
    height: 90%;
    display: flex;
    background-color: #f5f4f4;
}

#logo-img {
    width: 6vh;
    height: 6vh;
}

svg {
    width: 3em;
    height: 3em;
}	

#entrar-btn {
    background: none;
    color: white;
    border-radius: 5px;
    padding: 1em 3em;
    font-size: 0.8em;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

main {
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.096);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2em;
}

#textos-section {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;
}

#textos-section h1 {
    width: 70%;
    font-size: 3em;
    margin-top: 1em;
    font-family: 'Inter Tight', sans-serif;
    color: #0b1d1ad7;
}

#textos-section p {
    width: 70%;
    font-size: 1.2em;
    font-family: 'Inter Tight', sans-serif;
    color: rgba(0, 0, 0, 0.705);
}

#section-filtros {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#div-btn-filtro{
    width: 60%;    
    display: flex;
    justify-content: center;
    align-items: center;

}

#div-btn-filtro button {
    background-color: #167CAD;
    color: white;
    border-radius: 5px;
    padding: 1em 5em;
    font-size: 0.9em;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

#filtros {
    margin-top: 3em;
    padding: 3.5em 0;
    height: 5em;
    width: 60%;
    background-color: #f5f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.filtro {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.filtro select {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #b1d4ac;
}

.filtro input {
    width: 100%;
    padding: 0.5em;
    border-radius: 5px;
    border: 1px solid #b1d4ac;
}

.filtro label {
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.719);
}

#especialidade-select option {
    font-size: 1.2em;
    color: #0b1d1ad7;
}

#textos h1 {
    font-size: 2.5em;
    margin-top: 1em;
    
}

#imagem {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profissionais-encontrados-ou-nao{
    font-size: 1.7em;
    margin-top: 1em;
    font-family: 'Inter Tight', sans-serif;
    color: #020202a4;
}

#profissionais-encontrados {
    height: 100%;
    width: 80%;
    padding-top: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-bottom: 3em;
}

.perfil {
    background-color: rgb(255, 255, 255);
    min-height: 8em; 
    box-shadow: 3px 6px 10px rgba(0, 0, 0, 0.13); 
    width: 30%;
    border-radius: 10px;
    display: flex;
    cursor: pointer;
    border: 1px solid #0dac89;
}

.right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    height: 5em;
    width: 5em;
    object-fit: cover;
    border-radius: 50%;
}

.right h3{
    color: rgba(0, 0, 0, 0.719);
    font-size: 1em;
    width: 90%;
}

.right p {
    color: rgba(0, 0, 0, 0.719);
    font-size: 0.9em;
}

.medico-card {
    width: 300px;
    height: 150px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
  }

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.popup {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 3em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.popup .close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    color: black;
    border: none;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
    font-size: 2em;
}

.popup img {
    height: 15em;
    width: 15em;
    object-fit: cover;
    border-radius: 2%;
}

.popup h2 {
    font-size: 2em;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgba(0, 7, 19, 0.801);
}

.popup p { 
    font-size: 1.0em;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding-bottom: 0.5em;
}

.popup span {
    font-size: 1.0em;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

#div-button-agendar {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: flex-end;
}

.agendar-btn {
    color: #1b4449;
    border: dashed 1px #1b4449;
    padding: 0.5em 2em;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.agendar-btn:hover {
    background-color: #1b4449;
    color: white;
}

.span-texts {
    font-size: 1.20em;
    color: #0b1d1ad7;
}


