@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tauri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

a { 
    text-decoration: none; 
}

a:visited {
    text-decoration: none; 
    color: inherit; 
}

body {
    height: 100vh;
    background-color: #f5f4f4;
}

/* Header */
header {
    height: 10%;
    background-color: #ffffff;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #1b4449;
}

header a {
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#logo-img {
    width: 7vh;
    height: 7vh;
}

#profile-container {
    position: relative;
    display: inline-block;
}

#foto-perfil-options {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

#profile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 110%; /* Posicione o menu abaixo da foto */
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 150px;
}

#profile-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#profile-menu li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
}

#profile-menu li:hover {
    background-color: #f5f5f5;
    color: #000;
}

/* Main */
main {
    height: 90%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#left-section {
    width: 65%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}   

#div-pesquisa-input{
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 4em;
    border-radius: 5px 0px 5 0px;
    display: flex;
    align-items: center;
}

#pesquisa-input {
    width: 90%;
    height: 100%;
    border-radius: 5px;
    margin-left: 2em;
    border: none;
    outline: none;
    color: #000000b2;
    font-size: 1.0em;
}

#div-pesquisa-input svg {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    margin-right: 1em;
}

#pesquisa-input::placeholder {
    color: #999; /* Muda a cor do placeholder */
    padding-left: 15px; /* Adiciona padding à esquerda */
}

#sugestoes-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%; /* Coloca o menu exatamente abaixo do input */
    left: 0;   /* Alinha à esquerda do input */
    width: 100%; /* Igual à largura do input */
    background: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none; /* Inicialmente oculto */
    max-height: 200px; /* Altura máxima com rolagem */
    overflow-y: auto;
}

#sugestoes-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

#sugestoes-list li:hover {
    background-color: #f0f0f0;
}

#div-pesquisa-input {
    position: relative; /* Garante que o menu suspenso seja posicionado em relação a esse contêiner */
}

.div-squares {
    display: grid;
    grid-template-rows: 2fr 2fr;
    grid-template-columns: 2fr 2fr;
    width: 90%;
    flex-wrap: wrap; /* Permite que os elementos quebrem para uma nova linha */
    gap: 1px; /* Espaçamento entre as divs */
}

.div-square {
    height: 11em;
    display: flex  ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(to right, #167CAD 0%, #0C5980 100%);
    gap: 1em;
}

svg {
    width: 3em;
    height: 3em;
}	

.div-square p {
    color: white;
    width: 30%;
    font-size: 1em;
    text-align: center;
}

.pacientes, .disponibilidade {
    background: linear-gradient(to left, #167CAD 0%, #0C5980 100%);
}

.alterar-consulta,  .agenda {
    background: linear-gradient(to right, #167CAD 0%, #0C5980 100%);
}

#right-section {
    width: 35%;
    height: 73%;
    background-color: transparent;
    display: flex;
    justify-content: top;
    flex-direction: column;

}

#right-section h6 {
    color: #000000b1;
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.5em;
}

#agenda-medico {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    background-color: rgba(255, 241, 52, 0.384);
    border-radius: 0.5em;
}

#nome-paciente-h2{
    width: 90%;
    text-align: start;
    font-family: "Inter", sans-serif;
    font-size: 2em;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.822);
}

#nome-paciente-span{
    font-family: "Inter", sans-serif;
}

#appointments {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}


.div-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    width: 95%;
    background-color: #ffffff;
    border-radius: 0.3em;
    box-shadow: 5px 5px 10px rgba(150, 165, 144, 0.582);

}


.div-card-none p {
    font-size: 1.0em;
}

.nome-medico, .div-card p {
    font-size: 0.8em;
    font-weight: 500;
}

.fade-out {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.fade-in {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#next-day, #prev-day {
    background-color: transparent;
    color: black;
    border: none;
    cursor: pointer;
}

.foto-medico {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}

.div-subs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 65%;
    height: 2.5em;
}

.div-subs p {
    font-size: 0.8em;
    text-align: center;
}